.hidden{
    display: none;
}
#clock{
    text-align: center;
    margin: 0;
}
#greeting{
    text-align: center;
    margin: 0;
}

#login-form, #todo-form {
    text-align: center;
}
.bgImage{
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: -1;
}

#author{
    font-size:larger;
    font-weight: bold;
    text-align: center;
}
#quotes{
    text-align: center;
}



 
